
.bodyContent {
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}

.bodySearch {
  position: absolute;
  /* background-color: #C9EFC7; */
  background-color: white;
  border-radius: 20px;
  width: 600px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightNavbar {
  display: flex;
  align-items: center;
  gap: 50px;
}

.Login.navSearch {
  color: #C9EFC7;
}
.Login:hover {
  cursor: pointer;
}

